<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Manager</title>
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <script
      src="https://kit.fontawesome.com/f46158d183.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <%- include("partials/header") %>
    <main>
      <%- include("partials/leftNav") %>
      <div class="rightSecOfHome">
        <div class="appNameRandom">
          <a href="/user/settings">@UserName</a>
        </div>
        <form action="/user/store/password">
          <input
            class="text"
            type="text"
            placeholder="Enter Website / App Name"
            name="websiteName"
          />
          <input
            class="inputPassword"
            type="password"
            placeholder="Enter Password"
            name="password"
          />
          <input class="btn" type="submit" value="Add" />
        </form>
        <div class="logOutRandom">
          <a href="/user/logout">Log Out</a>
        </div>
      </div>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
