<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>scatch</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header>
      <p class="logo">PasswordManager</p>
    </header>
    <main>
      <div class="mainContainer">
        <div class="createAccount">
          <div class="headingOfCreateAccount">
            <p class="welcomeText">
              Welcome to <span class="logoName">Paswword Manager</span>
            </p>
            <p class="createAcc">Create your account</p>
          </div>
          <div class="formSec">
            <form action="/user/register" method="post">
              <input
                class="inputFullname"
                type="text"
                placeholder="Enter Your Fullname"
                name="userName"
              />
              <input
                class="inputEmail"
                type="email"
                placeholder="Enter Your Email"
                name="email"
              />
              <input
                class="inputPassword"
                type="password"
                placeholder="Enter Your Password"
                name="password"
              />
              <input
                class="createbtn"
                type="submit"
                value="Create My Account"
              />
            </form>
          </div>
        </div>
        <div class="orSec">
          <p>Or</p>
        </div>
        <div class="loginAccount">
          <div class="headingOfLoginAccount">
            <p class="loginAccText">Login your account</p>
          </div>
          <div class="loginformSec">
            <form action="/user/login" method="post">
              <input
                class="inputEmail"
                type="email"
                placeholder="Enter your Email"
                name="email"
              />
              <input
                class="inputPassword"
                type="password"
                placeholder="enter your Password"
                name="password"
              />
              <input class="loginBtn" type="submit" value="Login" />
            </form>
          </div>
        </div>
      </div>
    </main>

    <footer>
      <p>This website developed by @Hemanth code Hub</p>
    </footer>
  </body>
</html>
