<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Manager</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <%- include("partials/header") %>
    <main>
      <div class="mainContainer">
        <div class="random">PassWord Manager</div>
        <div class="leftSec">
          <p>A palce where you can store your passwords</p>
        </div>
        <div class="rightSec">
          <div class="linksSec">
            <button class="loginBtn">Login</button>
            <button class="signUpBtn">Sign up</button>
          </div>
          <div class="forms">
            <form action="" class="loginForm">
              <input
                class="inputEmail"
                type="email"
                placeholder="Enter Your Email Address"
              />
              <input
                class="inputPassword"
                type="password"
                placeholder="Enter your Password"
              />
              <input class="btn" type="submit" value="Login" />
            </form>
            <form action="" class="signUpForm">
              <input
                class="inputUserName"
                type="text"
                placeholder="Enter an username"
              />
              <input
                class="inputEmail"
                type="email"
                placeholder="Enter Your Email Address"
              />
              <input
                class="inputPassword"
                type="password"
                placeholder="Enter your Password"
              />
              <input class="btn" type="submit" value="Sign Up" />
            </form>
          </div>
        </div>
      </div>
    </main>
    <%- include("partials/footer") %>

    <script src="/javascripts/link.js"></script>
  </body>
</html>
